<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

<!-- ERROR < WARN < INFO < DEBUG < TRACE -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %cyan(%d{ISO8601}) %highlight(%-5level) [%blue(%-30t)] %yellow(%C{1.}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <springProfile name="local">
        <root level="WARN">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="com.example.springpetclinic" level="DEBUG"/>
    </springProfile>
    <springProfile name="dev">
        <root level="WARN">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="com.example.springpetclinic" level="DEBUG"/>
    </springProfile>
    <springProfile name="staging">
        <root level="ERROR">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="com.example.springpetclinic" level="DEBUG"/>
    </springProfile>

    <springProfile name="production">
        <root level="ERROR">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="com.example.springpetclinic" level="WARN"/>
    </springProfile>
</configuration>


